@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/**/@media screen and (min-width: 1440px)
{
/*#bloc_page
{
	width: 1440px;
	margin: 0 auto;
}*/
#conteneur_section3
{
	width: auto;
	margin-top: 30px;
	margin: auto;
	margin: 0 50px 0 50px;
}
#conteneur
{
    display: flex;
    flex-direction: column;
   	flex-wrap: wrap;
    align-items: center;
    align-content: space-between;
    justify-content: space-between;
	/*width: auto;*/
	height: 445px;
    
}
}


/* ___________________________________________________________________________________________________*/

/* ____________________________________________ @media 480px _________________________________________*/
@media all and (max-width: 600px)
{
	/* Vos règles CSS pour les mobiles ici */
#bloc_page
{
	width: auto;
	margin: auto;
	
}

/**/p, h1, h2, h3, h4
{
	color: rgb(0, 255, 64);
}

header
{
	display: flex;
	flex-direction: column;
	width: auto;
	height: auto;
}
#logo{
	display: flex;
	order: 1;
}
#menu{
	order: 3;
}
#nav{
	width: 100%;
}


#inscription
{
	order: 2;
}

/* _____________________________________________________ section1 ______________________________________ */
#search
{
	width: 375px;
}



/* _____________________________________________________ section2 */
#conteneur_section2
{
	display: flex;
	flex-direction: row-reverse;
	flex-wrap: wrap;
	width: 100%;
}

#bloc_gauche
{
	display: flex;
	/*flex: 1;*/
	width: auto;
	height: auto;
	/*background-color: #F2F2F2;
	border-radius: 20px;*/
	padding: 20px;
	margin-bottom: 50px;
}

.produit_hebergement{
	width: auto;
}

#aside
{
	width: auto;
}

/* ___________________________________________________________section3 */
#conteneur_section3
{
	width: auto;
	height: auto;
	
}
#conteneur {
	/**/width: auto;
    height: auto;
}
#conteneur_texte
{
	display: flex;
	justify-content: space-between;
	width: auto;
	padding: 30px 50px 50px 50px;
	font-family: 'Raleway', sans-serif;
}



/* ____________________________________________________________Footer 480px */

#conteneur_section4
{
	display: flex;
	/*flex-wrap: wrap;
	flex-direction: column;*/
	margin: auto;
	
	width: auto;
	height: auto;
	margin-top: 50px;
}

#conteneur_texte
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	width: auto;
	padding: 30px 50px 50px 50px;
	font-family: 'Raleway', sans-serif;
}

#a_propos
{
	display: flex;
	
	width: auto;
	line-height: 0;
}

#nos_hebergements
{
	display: flex;
	
	width: auto;
	line-height: 0;

}

#assistance
{
	display: flex;
	
	width: auto;
	line-height: 0;
}
}
/* ___________________________________________________ fin @media 480px _____________________________________ */

body
{
	font-family: 'Raleway', sans-serif;
}

#bloc_page
{
	max-width: 1440px;
	margin: 0 auto;
}
/* ____________________________________________________ Header ______________________________________ */
header
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
    margin: 0 50px 0 50px;
}
/* ____________________________________________________ logo ______________________________________ */
#logo
{
	display: flex;
	flex: 1;
}

#logo img
{
	width: 128px;
	height: 60px;
}

/* ____________________________________________ Navigation __________________________________________ */

#menu{
	display: flex;
	flex-direction: row;
	font-weight: bold;
	
}

nav ul
{
	display: flex;
}

nav li
{
	margin-right: 40px;
    display: flex;
    flex-direction: row;
    align-content: space-between; 
}

nav a
{
    font-size: 1em;
    padding-top: 20px;
    text-decoration: none;
}

nav a:hover
{
	display: flex;
    color: #0065FC;
	border-top: 2px solid #0065FC;
	padding-top: 18px;
}

/* ____________________________________________ inscription __________________________________________ */


#inscription {
	font-weight: 800;
	
	padding-top: 18px;
	padding-right: 40px;
	color: #0065FC;
}

#inscription a{
	color: #0065FC;
}

/* _________________________________ Section 1 _________________________________ */



#conteneur_section1
{
    display: flex;
    flex-direction: column;
   	width: auto;
	height: auto;
	margin: 30px 50px 0 50px;
	font-family: 'Raleway', sans-serif;
    font-weight: bold;
    /*margin: auto;*/
}

#baseline1
{
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 0.9em;  
	line-height: 2em;
	width: auto;
}

#baseline2
{
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
	line-height: 1em;
	width: auto;
   /* margin: 0px;*/
}


/* _________________________________________Barre de recherche___________________________________________*/

#search
{
    display: flex;
    flex-direction: row;
   	justify-content: center;
    align-items: center;
    border: solid 2px; border-color: #F2F2F2; border-radius: 10px;
	width: 420px;
	height: 50px;
	margin: 10px 0 30px 0;
}

#fd_gris
{
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 50px;
    height: 50px;
    background-color: #F2F2F2;
    border-radius: 10px 0 0 10px;
}

input
{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;/**/
    width: 203px;
    height: 48px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 20px;
    padding: 0px;
    margin: 0 16px 0 16px;
}

#rechercher
{
	display: flex;
	justify-content: center;
    align-items: center;
    width: 135px;
    height: 50px;
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	background-color: #0065FC;
    color: white;
    border-radius: 0px 10px 10px 0px;
}
/* ___________________________________________________________________________________ */
/* ________________________________________ Filtres _______________________________________ */

#conteneur_filtres{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
}
#filtres
{
    display: flex;
	flex-direction: row;
    justify-content: center;
    align-items: center;
	justify-content: flex-start;
	flex-wrap: wrap;
    width: auto;
    height: auto;
    /**/margin: 10px 0 10px 0;
    font-family: 'Raleway', sans-serif;
	font-weight: bold;
	
}

#bloc1
{
	width: auto;
	height: auto;
	margin-right: 30px;
	
}

#bloc2:hover, #bloc3:hover, #bloc4:hover, #bloc5:hover
{
	color: #0065FC;
   	background-color: #F2F2F2;
}

.textes
{
	width: auto;
	height: auto;
	border-color: black;
	display: flex;
	flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    font-family: 'Raleway', sans-serif;
	font-weight: bold;

}

.rond_icon
{
	display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
	width: 50px;
	height: 50px;
	background-color: #DEEBFF;
	border-radius: 50%;
	margin-right: 10px;
}

#bloc2
{
	display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
	width: auto;
	height: 44px;
	border: solid 3px;
	border-color: #F2F2F2;
	border-radius: 50px;
	margin: 5px 5px 5px 0px;
}


#bloc3
{
	display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
	width: auto;
	height: 44px;
	border: solid 3px;
	border-color: #F2F2F2;
	border-radius: 50px;
	margin: 5px 5px 5px 0px;
}
#bloc4
{
	display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
	width: auto;
	height: 44px;
	border: solid 3px;
	border-color: #F2F2F2;
	border-radius: 25px;
	margin: 5px 5px 5px 0px;
}

#bloc5
{
	display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
	width: auto;
	height: 44px;
	border: solid 3px;
	border-color: #F2F2F2;
	border-radius: 26px;
	margin: 5px 5px 5px 0px;
}

#info
{
	display: flex;
	/*flex-direction: row;
    justify-content: flex-start;*/
	align-items: center;
	/*flex-wrap: wrap;*/
    margin: 10px 0 10px 0;
	font-family: 'Raleway', sans-serif;
}

#border_icon_info
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    border: solid 3px;
    border-color: #F2F2F2;
    border-radius: 27px;
    margin-right: 12px;
}


/* ____________________ Section 2 bloc gauche _________________ */

a
{
	text-decoration: none;
	color: black;
	/* pour que les textes des cartes cliquables n'apparaissent pas comme des liens soulignés et violet  */
}

#conteneur_section2
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	width: auto;
	height: auto;
	margin: 20px 50px 50px 50px;	
}

#bloc_gauche
{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 60%;
	height: auto;
	background-color: #F2F2F2;
	border-radius: 20px;
	padding: 40px;
}

#titre_bloc_gauche_haut
{
	display: flex;
}

#titre_bloc_gauche_bas
{
	display: flex;
}

#bloc_produits_hebergement
{
	display: flex;
    flex-direction: row;
   	justify-content: space-between;
   	flex-wrap: wrap;
    width: auto;
    height: auto;
}

.produit_hebergement
{
	width: 30%;
	min-width: 247px;
	height: 200px;
	background-color: #FFF;
    box-shadow: 0px 0px 10px gray;
	border-radius: 20px;
	justify-content: space-around;
	margin: 10px 0 10px 0;
}

.photo_produit_hebergement
{
	display: flex;
	flex-direction: column;
	width: auto;
}

.photo_produit_hebergement img
{
	width: auto;
	height: 113px;
	border-radius: 17px 17px 0px 0px;
	margin: 5px 5px 5px 5px;
	object-fit: cover;
}

.texte_hebergement h4
{
	margin: 5px 5px 5px 5px ;
    /*color: #0065FC;*/
    text-align: left;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}

.texte_hebergement p
{
	width: 235px;
	font-weight: normal;
	font-size: smaller; 
	line-height: 1.5em;
	margin: 0px 5px 0px 5px;
	overflow: auto; 
	text-align: left;
	font-family: 'Raleway', sans-serif;
}



/* ____________________ Section 2 aside _________________ */


#aside
{
	display: flex;
	flex-direction: column;
	width: auto;
	height: auto;
	background-color: #F2F2F2;
	border-radius: 20px;
	padding: 40px;
}
#titre_aside{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: baseline;
}

.fa-chart-line{
	font-size: 1.5em;
}

#bloc_produits_populaires
{
	display: flex;
	
	flex-direction: column;
	width: auto;
	
}

.produit_populaire
{
	display: flex;
	justify-content: space-between;
	align-content: center;
	width: 345px;
	height: 145px;
	background-color: #FFF;
    box-shadow: 0px 0px 10px gray;
	border-radius: 20px;
	margin: 10px 0 10px 0;
}

.photo_produit_populaire img
{
	width: 135px;
	height: 135px;
	border-radius: 17px 0px 0px 17px;
	margin: 5px 5px 5px 5px;
}

.texte_populaire h4
{
	margin: 5px 5px 5px 5px ;
    /*color: #0065FC;*/
    text-align: left;
}

.texte_populaire p
{
	width: auto;
	font-weight: normal;
	font-size: smaller; 
	line-height: 1.5em;
	margin: 0px 5px 0px 5px;
	overflow: auto; 
	text-align: left;
}
/* _______________________________________________ Section 3 _____________________________________________________ */

/*#conteneur_section3
{
	width: auto;
	margin-top: 30px;
	margin: auto;
	margin: 0 50px 0 50px;
}*/

/*#conteneur
{
    display: flex;
    flex-direction: column;
   	flex-wrap: wrap;
    align-items: center;
    align-content: space-between;
    justify-content: space-between;
	width: auto;
	height: 445px;*/
    /*margin: auto;
}*/

.element
{
	margin: auto;
}

.texte_activite h4
{
    margin: 10px 5px 5px 5px ;
    color: black;
    text-align: left;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}


.element_1:nth-child(1)
{
	order: 1;
	margin: auto;
}

.produit_activité1
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
	/**/width: 300px;
	
	/**/height: 445px;
	
    background-color: #FFF;
    box-shadow: 0px 0px 10px gray;
	border-radius: 20px;
	
    }

.photo_produit_activité1 img
{
	width: 300px;
    height: 390px;
    border-radius: 20px 20px 0px 0px;
	margin: 0px 0px 5px 0px;
	object-fit: cover;
}

.element_2:nth-child(2)
{
	order: 2;
}

.produit_activité2
{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 235px;
    background-color: #FFF;
    box-shadow: 0px 0px 10px gray;
    border-radius: 20px;
    flex-wrap: wrap;
}

.photo_produit_activité2 img
{
    width: 300px;
    height: 180px;
    border-radius: 20px 20px 0px 0px;
	margin: 0px 0px 5px 0px;
	object-fit: cover;
}


.element_3:nth-child(3)
{
	order: 4;
}

.produit_activité3
{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 200px;
    background-color: #FFF;
    box-shadow: 0px 0px 10px gray;
    border-radius: 20px;
    flex-wrap: wrap;
}

.photo_produit_activité3 img
{
    width: 300px;
    height: 145px;
    border-radius: 20px 20px 0px 0px;
	margin: 0px 0px 5px 0px;
	object-fit: cover;
}

.element_4:nth-child(4)
{
	order: 5;
}

.element_5:nth-child(5)
{
	order: 2;
}

.element_6:nth-child(6)
{
    order: 6;
}



/* ____________________________________________Footer _________________________________________*/


#conteneur_section4
{
	margin: auto;
	background-color: #F2F2F2;
	width: auto;
	height: auto;
	margin-top: 50px;
}

#conteneur_texte
{
	display: flex;
	justify-content: space-between;
	width: auto;
	padding: 30px 50px 50px 50px;
	font-family: 'Raleway', sans-serif;
}

#a_propos
{
	display: flex;
	flex-direction: column;
	width: 450px;
	line-height: 0;
}

#nos_hebergements
{
	display: flex;
	flex-direction: column;
	width: 450px;
	line-height: 0;

}

#assistance
{
	display: flex;
	flex-direction: column;
	width: 450px;
	line-height: 0;
}